@import "tailwindcss";
@import "./fonts.css";
@import "./accessible.css";
@import "./base.css";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #174FC4;
    --color-secondary: #043292;
}

@plugin "daisyui/theme" {
    name: "dark";

    --color-base-100: #1e1e2e;
    --color-base-200: #181825;
    --color-base-300: #313244;
    --color-base-content: #cdd6f4;


    --color-primary: #4A7FE8;
    --color-primary-content: #ffffff;
    --color-secondary: #89b4fa;
    --color-secondary-content: #1e1e2e;

    --color-info: #89dceb;
    --color-success: #a6e3a1;
    --color-warning: #f9e2af;
    --color-error: #f38ba8;
}
